---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
---

<Layout title="Tesla - El auto de tus sueños">
	<main>

	<Header/>
			<HeroSection />
	</main>
</Layout>